<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="/static/css/admin-style.css">
      <link rel="stylesheet" href="/static/css/tables-style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="/static/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="/static/images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   </head>
   <!-- body -->
   <body class="main-layout in_page">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="/static/images/loading.gif" alt="#"/></div>
      </div>
       <!-- end loader -->
       <!-- header -->
       <header>
         <!-- header inner -->
         <div class="header">
            <div class="container">
               <div class="row">
                  <div class="col-md-12 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                              <a href="index.html"><img src="/static/images/logo.png" alt="#" /></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-10 offset-md-1">
                     <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              {% for menu_option in menu_options %}
                              <li class="nav-item">
                                 <a class="nav-link" href="#">{{ menu_option }}</a>
                              </li>
                              {% endfor %}
                           </ul>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header inner -->
      <!-- end header -->
      <!-- table -->
      <div class="titlepage">
         <h2>Información de<span class="green">adopción</span></h2>
      </div>
      <table class="rounded-table">
         <thead>
            <tr>
                  <th>id</th>
                  <th>mascotaID</th>
                  <th>nombreMascota</th>
                  <th>fechaCastracion</th>
                  <th>veterinario</th>
            </tr>
         </thead>
         <tbody>
            {% for castracion in castracion_data %}
                  <tr>
                     <td>{{ castracion.id }}</td>
                     <td>{{ castracion.mascotaID }}</td>
                     <td>{{ castracion.nombreMascota }}</td>
                     <td>{{ castracion.fechaCastracion }}</td>
                     <td>{{ castracion.veterinario }}</td>
                     <td>
                        <form method="post" action="/ActualizarCastracion">
                              <!-- Campos de entrada ocultos para cada dato -->
                              <input type="hidden" name="id" value="{{ castracion.id }}">
                              <input type="hidden" name="mascotaID" value="{{ castracion.mascotaID }}">
                              <input type="hidden" name="nombreMascota" value="{{ castracion.nombreMascota }}">
                              <input type="hidden" name="fechaCastracion" value="{{ castracion.fechaCastracion }}">
                              <input type="hidden" name="veterinario" value="{{ castracion.veterinario }}">
                     
                              <!-- Botón de envío -->
                              <button type="submit" class="update-button">ENVIAR</button>
                        </form>
                     </td>
            {% endfor %}
         </tbody>
      </table>
      <!-- end table -->
      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class=" col-md-3 col-sm-6">
                     <ul class="social_icon">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                     </ul>
                     <p class="variat pad_roght2">Huellas de vida
                     </p>
                  </div>
                  <div class=" col-md-3 col-sm-6">
                     <h3>Estamos para ayudarte</h3>
                     <p  class="variat pad_roght2">
                        
                     </p>
                  </div>
                  <div class="col-md-6 offset-md-6">
                     <form id="hkh" class="bottom_form">
                        <input class="enter" placeholder="Enter your email" type="text" name="Enter your email">
                        <button class="sub_btn">subscribe</button>
                     </form>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-10 offset-md-1">
                        <p>© 2024 todos los derechos reservados a Universidad Mariano Gálvez</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="/static/js/jquery.min.js"></script>
      <script src="/static/js/bootstrap.bundle.min.js"></script>
      <script src="/static/js/jquery-3.0.0.min.js"></script>
      <!-- sidebar -->
      <script src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="/static/js/custom.js"></script>
   </body>
</html>