<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adopción de Animales</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <header>
        <div class="container">
            <img src="Imagenes/Peluditos .png" alt="logo de la organizacion">
            <h2 class="Nombre">PELUDITOS GT</h2>
        </div>
        <nav>
            <ul>
                <li><a href="Index.html">Inicio</a></li>
                <li><a href="#informacion">Información</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <section class="catagolo_ani">
    <div class="container_a">
        <h1>Animales Disponibles para Adopción</h1>

        <div id="catalogo">
            <!-- Ejemplo de perro -->
            <div class="animal perro">
                <img src="perro.jpg" alt="Perro">
                <h3>Nombre: Rocky</h3>
                <p>Edad: 3 años</p>
                <p>Raza: Labrador Retriever</p>
                <p>Descripción: Rocky es un perro muy amigable y juguetón. Está buscando un hogar cariñoso.</p>
                <button class="botones"><a href="formulario.html">Adoptar</a></button>
            </div>

            <!-- Ejemplo de gato -->
            <div class="animal gato">
                <img src="gato.jpg" alt="Gato">
                <h3>Nombre: Luna</h3>
                <p>Edad: 2 años</p>
                <p>Raza: Siamés</p>
                <p>Descripción: Luna es una gata tranquila y cariñosa que adora recibir mimos y premios.</p>
                <button class="botones"><a href="formulario.html">Adoptar</a></button>
            </div>

            <!-- Ejemplo de conejo -->
            <div class="animal conejo">
                <img src="conejo.jpg" alt="Conejo">
                <h3>Nombre: Saltarín</h3>
                <p>Edad: 1 año</p>
                <p>Raza: Schnauzer</p>
                <p>Descripción: Saltarín es perro juguetón y travieso. Le encanta explorar su entorno.</p>
                <button class="botones"><a href="formulario.html">Adoptar</a></button>
            </div>
        </div>
    </div>
    </section>
</body>
</html>
