<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Final</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <header>
        <div class="container">
            <img src="Imagenes/Peluditos .png" alt="logo de la organizacion" >
            <h2 class="Nombre">PELUDITOS GT</h2>
        </div>
        <nav>
            <ul>
                <li><a href="#titular">Inicio</a></li>
                <li><a href="#contenido">Información</a></li>
                <li><a href="#opciones">Registro</a></li>
            </ul>
        </nav>
    </header>

    <section id="titular">
            <h1>Bienvenidos</h1>
    </section>

    <section id="contenido">
        <div class="container">
            <div class="img"></div>
            <div class="texto">
                <h2>¿Quienes Somos?</h2>
                <p>texto</p>
            </div>
        </div>
    </section>

    <section id="contenido2">
        <div class="container">
            <div class ="texto">
                <h2>Nuestra Meta</h2>
                <p>texto</p>
            </div>
            <div class="img2"></div>
            
        </div>
    </section>
    <section id="opciones">
        <div class="container">
            <div class="formulario">
                <p>¿Tu mascota ya esta castrada?</p>
                <h3>¡¡Registra a tu mascota!!</h3>
                <button class="botones"><a href="formulario_cas.html">Registrar</a></button>
            </div>
            <div class="adoptar">
                <p>¿Deseas adoptar a unas de nuestras mascotas?</p>
                <button class="botones"><a href="catálogo.html">Entra aqui</a></button>
            </div>

        </div>
    </section>
</html>